<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>

    <title>Document</title>
</head>
<body>
    <h2>BBBOOTSTRAP FILE UPLOAD WITH PREVIEW</h2>
	<div class="file-drop-area">

		<span class="choose-file-button">Choose Files</span>
		<span class="file-message">or drag and drop files here</span>
		<input type="file" class="file-input" accept=".jfif,.jpg,.jpeg,.png,.gif" multiple>
		

	</div>

	<div id="divImageMediaPreview">

	</div>
    <div style="margin: 10px;">
        <button class="btn btn-success" type="button" onclick="convert()" name="btnConvert">Convert</button>
      </div>
      <div>
        <textarea id="hexId" name="hex" rows="8" cols="67" style="width: 550px;">            
        </textarea>
      </div>

      <img class="heximage" src=""/>
    <script>
$(document).on('change', '.file-input', function() {


var filesCount = $(this)[0].files.length;

var textbox = $(this).prev();

if (filesCount === 1) {
var fileName = $(this).val().split('\\').pop();
textbox.text(fileName);
} else {
textbox.text(filesCount + ' files selected');
}



if (typeof (FileReader) != "undefined") {
var dvPreview = $("#divImageMediaPreview");
dvPreview.html("");            
$($(this)[0].files).each(function () {
var file = $(this);                
    var reader = new FileReader();
    reader.onload = function (e) {
        var img = $("<img />");
        img.attr("style", "width: 150px; height:100px; padding: 10px");
        img.attr("src", e.target.result);
        dvPreview.append(img);
    }
    reader.readAsDataURL(file[0]);  
    
var blob = window.dataURLtoBlob(reader.result);
var formData = new FormData();
formData.append("file", blob, "test.odt");
$.ajax({

                type : "POST",
                encType : "multipart/form-data",
                url : '/api/convertToHex',
                cache : false,
                processData : false,
                contentType : false,
                data : formData,
                success : function(msg) {
                    var response = msg;
                    console.log(response);
                },
                error : function(msg) {
                    alert("Couldn't upload file");
                }
			});
});
} else {
alert("This browser does not support HTML5 FileReader.");
}
});

function convert() {
    let input = document.getElementById("hexId").value.replace(/[^A-Fa-f0-9]/g, "");
    if (input.length % 2) {
        console.log("cleaned hex string length is odd.");
        return;
    }

    let binary = new Array();
    for (let i = 0; i < input.length / 2; i++) {
        let h = input.substr(i * 2, 2);
        binary[i] = parseInt(h, 16);
    }

    let byteArray = new Uint8Array(binary);
    let img = document.querySelector('.heximage');

    img.src = window.URL.createObjectURL(new Blob([byteArray], { type: 'application/octet-stream' }));
    //document.body.appendChild(img)
}

    </script>

</body>
</html>